.venv/

.idea/

__pycache__/

batch_errors/**
batch_outputs/**

figures/**
results/**

**/*.h5
*.h5
**/*.npy
*.npy
**/*.nii
*.nii
**/*.nii.gz
**.nii.gz
**/*.tif
*.tif
**/*.tiff
*.tiff

*.log

!*.gitkeep